@import "./scss/mixins.scss";

@import "./scss/variables.scss";

@import "./scss/defaults.scss";

body {
  position: relative;
}

.App {
  overflow-x: hidden;
  position: relative;
  height: 100vh;
}

.button {
  @include arrow-button;
}

.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;

  transition: opacity 300ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.slick-list {
  outline: none !important;
}

.slides {
  position: relative;
}

.slick-prev {
  position: absolute;
  top: 30%;
  left: -22px;
  z-index: 1;

  &:hover {
    &::before {
      color: $dark-orange;
    }
  }

  &::before {
    font-size: 40px;
    color: $darker-grey;
  }
}

.slick-next {
  position: absolute;
  right: 0px;
  top: 30%;
  z-index: 1000;

  &:hover {
    &::before {
      color: $dark-orange;
    }
  }

  &::before {
    font-size: 40px;
    color: $darker-grey;
  }
}
