@import "./scss/mixins.scss";

@import "./scss/variables.scss";

@import "./scss/defaults.scss";

.App {
  overflow-x: hidden;
}

.button {
  @include arrow-button;
}

.layout-block {
  margin: 40px 0;

  &--max-width {
    max-width: 1400px;
    margin: 40px auto;
  }
}

.slides {
  position: relative;
}

.slides .slick-prev {
  position: absolute;
  left: 0%;
  top: 23%;
  z-index: 1;

  @include tablet {
    left: -10%;
    top: 22%;
  }

  @include desktop {
    left: -10%;
    top: 35%;
  }

  &::before {
    font-size: 30px;
    color: $darker-grey;
  }
}

.slides .slick-next {
  position: absolute;
  right: 0;
  top: 23%;
  font-size: 30px;
  z-index: 1;

  @include tablet {
    right: -10%;
    top: 22%;
  }

  @include desktop {
    right: -10%;
    top: 35%;
  }

  &::before {
    font-size: 30px;
    color: $darker-grey;
  }
}
